<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluewebspark.happyservice">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.MyProfileActivity" />
        <activity android:name=".activity.SubCategoryListActivity" />
        <activity android:name=".activity.MyBookingActivity" />
        <activity android:name=".activity.SearchLocationActivity" />
        <activity android:name=".activity.UpdateProfileActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.LoginWithOtpActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.ChoooseLoginSignUpActivity" />
        <activity android:name=".activity.ServicesActivity" />
        <activity android:name=".activity.ServiceDetailsActivity" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".activity.ReferAndEarnActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.ContactUsActivity" />
        <activity android:name=".activity.OngoingDetailsActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.ConversationActivity" />
        <activity android:name=".activity.BookingActivity" />
        <activity android:name=".activity.BookingSummeryActivity" />
        <activity android:name=".activity.SearchPlacesActivity" />
        <activity android:name=".activity.GetOtpActivity" />
        <activity android:name=".activity.OtpVerificationActivity" />
        <activity android:name=".activity.SelectCityActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAncWyNdXlqe-UC6Z-RNbMi_pPa3O4C8UA" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".activity.LoginWithPasswordActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.HistoryDetailsActivity" />
        <activity android:name=".activity.UserDetailsActivity" />
        <activity android:name=".activity.ChooseLocationActivity" />

        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- service to create firebase instance ID(Device Token) -->
        <service android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--<activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>-->
    </application>

</manifest>